{
    "branches": [
        "main",
        {
            "name": "develop",
            "prerelease": "beta",
            "channel": "beta"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/npm",
        "@semantic-release/changelog",
        "@semantic-release/git",
        ["@codedependant/semantic-release-docker", {
            "dockerBuildQuiet": false
        }]
    ]
}